<!DOCTYPE html>
<html>
<head>
    <title>generalSSO | SAML</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="bootstrap-3.1.1-dist/css/bootstrap.min.css" media="screen" rel="stylesheet">
    <link href="stylesheets/style.css" media="screen" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand">generalSSO</a>
                </div>
                <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/jwt">JWT</a></li>
                    <li class="active"><a href="/saml">SAML</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/logout">Logout page</a></li>
                </ul>
                </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <form class="form-horizontal">
                    <!-- begin certs -->
                    <h4>Certs</h4>
                    <div class="well">
                      <div class="form-group">
                          <label class="col-sm-2 control-label" for="cert">Certificate</label>
                          <div class="col-sm-4">
                              <textarea class="form-control" id="cert" type="text" name="cert"></textarea>
                          </div>
                          <div class="col-sm-2">
                            <label for="cert_file">Upload</label>
                            <input type="file" class="cert_upload" id="cert_file">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-2 control-label" for="key">Key</label>
                          <div class="col-sm-4">
                              <textarea class="form-control cert" id="key" type="text" name="key"></textarea>
                          </div>
                          <div class="col-sm-2">
                            <label for="key_file">Upload</label>
                            <input type="file" class="cert_upload" id="key_file">
                          </div>
                      </div>
                    </div>
                    <!-- begin meta -->
                    <h4>Meta</h4>
                    <div class="well">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="destination">Destination hostname</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="destination" name="destination" type="text">
                            </div>
                            <p class="col-sm-2 help-block">subdomain.zendesk.com<br/>subdomain.customdoma.in</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="issue_instant">IssueInstant</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input class="form-control input" id="issue_instant" name="issue_instant" type="text">
                                    <span class="input-group-btn">
                                      <button class="btn btn-success" id="generate_instant" type="button">
                                      Generate
                                      </button>
                                    </span>
                                </div>
                            </div>
                            <p class="col-sm-2 help-block"><a href="http://en.wikipedia.org/wiki/ISO_8601" target="_blank">ISO8601</a> timestamp</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="response_id">Response ID</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input class="form-control input" id="response_id" name="response_id" type="text">
                                    <span class="input-group-btn">
                                      <button class="btn btn-success" id="generate_id" type="button">
                                      Generate
                                      </button>
                                    </span>
                                </div>
                            </div>
                            <p class="col-sm-2 help-block">Unique ID</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="relay_state">RelayState</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="relay_state" name="relay_state" type="text" value=<%= RelayState %> >
                            </div>
                        </div>
                    </div>
                    <!-- end meta-->
                    <!-- begin nameID -->
                    <h4>NameID</h4>
                    <div class="well">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="nameid">NameID</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="nameid" type="text" name="nameid" placeholder="user@somdoma.in">
                            </div>
                        </div>
                    </div>
                    <!-- end nameID -->
                    <!-- begin attrs -->
                    <h4>Attributes</h4>
                    <div class="well">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="givenname">Givenname</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="givenname" name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" type="text" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="surname">Surname</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="surname" name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname" type="text" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="organization">Organization</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="organization" name="organization" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="phone">Phone</label>
                            <div class="col-sm-6" >
                                <input class="form-control" id="phone" name="phone" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="tags">Tags</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="tags" name="tags" placeholder="tag1, tag2, tag3" type="text" >
                            </div>
                            <p class="col-sm-2 help-block">Comma seperated tags</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="role">Role</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="role" name="role" type="text" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="custom_role_id">Custom Role ID</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="custom_role_id" name="custom_role_id" type="text" >
                            </div>
                            <p class="col-sm-2 help-block">Numeric role ID</p>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <input class="form-control" id="saml_request" name="saml_request" type="hidden" value=<%= SAMLRequest %> >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-2">
                                <button id="collect_params" class="btn btn-primary btn-lg" type="button">Authenticate</button>
                            </div>
                        </div>
                    </div>
                    <!-- end attrs -->
                </form>
                <!-- SAML form -->
                <form id="redirect" method="post" action="">
                   <input type="hidden" name="SAMLResponse" value="" />
                   <input type="hidden" name="RelayState" value="" />
                </form>
                <!-- end SAML form -->
            </div>
            <div class="col-md-4 hidden-sm">
                <div data-offset-bottom="0" data-offset-top="2" data-spy="affix">
                    <h4>Response preview</h4>
                    <pre id="response">&lt;/&gt;</pre>
                    <h4>Full response</h4>
                    <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Open</button>
                </div>
                <!-- Large modal -->
            </div>
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="fullResponseModal" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <pre id="fullResponse">
                      </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    <script>
    var affix = function(){
      var $affixElement = $('div[data-spy="affix"]');
      $affixElement.width($affixElement.parent().width());
    }
    var collectParams = function(e){
      var o = {};
      $('input').each(function(){
        if(this.value) {
          o[this.name] = this.value;
        }
      });
      $('textarea').each(function(){
        if(this.value) {
          o[this.name] = this.value;
        }
      });
      var metaKeys = ['destination', 'issue_instant', 'response_id', 'relay_state'];
      var certKeys = ['cert', 'key'];
      var attrs = _.omit(o, metaKeys, certKeys, 'nameid', 'SAMLResponse');
      if (attrs.tags) {
        attrs.tags = _.map(attrs.tags.split(','), function(tag){
          return tag.trim();
        });
      }
      $.ajax({ type: 'POST',
               data: JSON.stringify({ meta:   _.pick(o, metaKeys),
                                      attrs:  attrs,
                                      cert:   _.pick(o, certKeys),
                                      nameid: o.nameid } ),
               dataType: 'JSON',
               headers: {'content-type': 'application/json'}
      })
       .done(function(data){
         $('#response').text(data.rawResponse.slice(0,600));
         $('#fullResponse').text(data.formattedResponse);
         $('input[name="SAMLResponse"]').val(data.SAMLResponse);
         $('input[name="RelayState"]').val(data.RelayState);
         $('#redirect').attr('action', data.actionURL);
         if (e.type === 'click') {
          $('#redirect').submit();
         }
      });
    }
    var generateUniqueID = function() {
      var chars = "abcdef0123456789";
      var uniqueID = "";
      for (var i = 0; i < 20; i++) {
        uniqueID += chars.substr(Math.floor( ( Math.random()*15) ), 1);
      }
      return '_' + uniqueID;
    }
    var generateInstant = function() {
      var date = new Date();
      return date.getUTCFullYear() + '-'
        + ('0' + (date.getUTCMonth()+1)).slice(-2) + '-'
        + ('0' + date.getUTCDate()).slice(-2) + 'T'
        + ('0' + date.getUTCHours()).slice(-2) + ":"
        + ('0' + date.getUTCMinutes()).slice(-2) + ":"
        + ('0' + date.getUTCSeconds()).slice(-2) + "Z";
    }
    $(window)
      .load(function() {
        affix();
      })
      .scroll(function() {
        affix();
      })
      .resize(function() {
      affix();
    });
    $('.cert_upload').change(function(e){
      var file = this.files[0];
      var textarea = '#' + this.id.split('_')[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        $(textarea).val(e.target.result);
      }
      reader.readAsText(file);
    });
    $('#generate_instant').click(function(){
      $(this).parent().siblings()
      .val( generateInstant() )
      .trigger('change');
    });
    $('#generate_id').click(function(){
      $(this).parent().siblings()
      .val( generateUniqueID() )
      .trigger('change');
    })
    $('#collect_params').click(function(e){
      collectParams(e);
    });
    $('input').change(function(e){
      collectParams(e);
    });
    $('textarea').change(function(e){
      collectParams(e);
    });
    </script>
</body>
</html>
