.navbar-inverse .navbar-brand {
  color: #fff;
}

pre {
 white-space: pre-wrap;
 white-space: -moz-pre-wrap;
 white-space: -pre-wrap;
 white-space: -o-pre-wrap;
 word-wrap  : break-word
}

#fullresponse {
  white-space: no-wrap;
  word-wrap : normal;
}
